<%- include('../partials/html-head') %>
<link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous"
>
<%- include('../partials/nav') %>

<main class="bg-light">
  <div class="container py-5 px-3">
    <div 
      class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g1 px-4"
    >
      <% profiles.forEach(profile => { %>
        <div class="col">
          <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
            <div class="card mb-4 shadow-sm">
              <% if (profile.avatar) { %>
                <img
                  class="card-img-top"
                  src="<%= profile.avatar %>"
                  alt="<%= profile.name %>'s avatar"
                  width="100%"
                />
              <% } else {%>
                <img
                  class="card-img-top"
                  src="/images/icons/user.png"
                  alt="A placeholder avatar"
                  width="100%"
                />
              <% } %>
              <div class="card-body">
                <p class="card-title fs-3 text-dark"><%= profile.name %></p>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
</main>

<script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
  crossorigin="anonymous"
></script>

<%- include('../partials/footer') %>