<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>All Hammy's That You Own!</h1>
  <% if (isSelf)  {%> 
    <h2>Add a Hammy!</h2>
    <form action="/profiles/hamsters" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Food: 
        <input type="text" name="food" autocomplete="off">
      </label>
      <button type="submit">Adopt Hammy 🥳</button>
    </form>
    <% } %>
    <% if (profile.hamsters.length) { %>
      <h2>
        <%= isSelf ? "You have" : `${profile.name} has`%> Hamsters! Take a Look!
      </h2>
      <% profile.hamsters.forEach(hamster => { %>
        <h3>
          
         <%= hamster.name %> likes to eat <%= hamster.food %>
          <% if (isSelf) { %>
            <form action="/profiles/hamsters/<%= hamster._id %>?_method=DELETE"
              method="POST"
              style="display: inline-block;"
            >
            <button type="submit"> bury <%= hamster.name %> ⚰️ </button>
            </form>
            <% } %>
          </h3>
          <% }) %>
    <% } else { %>
      <h2>
        <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any Hamsters. 
      </h2>
    <% } %> 
</main>

<% function getRandomFood() { %>
  <% let hamsters = ['🥞','🧇','🍞','🥯','🍨','🍦','🍢','🍜','🍣','🍯','🥛',
                      '🧋','🍪','🍩','🍿','🧁','🍮','🍔','🍕','🥪','🍖','🍗',] %>
  <% return hamsters[Math.floor(Math.random() * hamsters.length)] %>
<% } %>


<%- include('../partials/footer') %>
