<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <!-- <h1>All Your Hammy's <%= isSelf ? "you" : profile.name %> That You Own!</h1> -->
  <h1>All Your Hammy's That You Own!</h1>
  <% if (isSelf)  {%> 
    <h2>Add a Hammy!</h2>
    <form action="/profiles/<%= profile._id %>/cats" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Species: 
        <input type="text" name="species" autocomplete="off">
      </label>
      <label>
        Comment: 
        <input type="text" name="comment" autocomplete="off">
        <button type="submit">Adopt Hammy 🥳</button>
    </form>
  <% } %>
      </label>
</main>

<%- include('../partials/footer') %>