<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>Look At This Hamster</p>
  <h1><%= breed.name %>hampy</h1>
  <h2>This hamster is <%= breed.aggressive ? 'not aggressive 😄' : 'very aggressive 😔' %></h2>
  <% if (user) { %>
    <form
    action="/breeds/<%= breed._id %>/flip-aggressive?_method=PATCH"
    method="POST"
    >
    <button class="btn" type="submit">
      This Hammy is <%= breed.aggressive ? 'not aggressive 🥳' : 'very aggressive 😖' %> 
      </button>
      </form>
      <% } %>
      <% if(breed.owner.equals(user?.profile._id)) { %>
        <form action="/breeds/<%= breed._id %>/edit" method="GET">
        <button class="btn" type="submit">Update This Hammy!</button>
        </form>
        <% } %>
</section>

<%- include('../partials/footer') %>