<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>Take a look at this hamster</p>
  <h1><%= breed.name %>hampy</h1>
  <h2>This hamster is <%= breed.aggressive ? 'not aggressive 😄' : 'very aggressive 😔' %></h2>
</section>

<%- include('../partials/footer') %>