<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Update This Toy!</h1>
  <form action="/toys/<%= toy._id %>?_method=PUT" method="POST">
  <label>
    Name:
    <input
    type="text"
    name="name"
    value="<% toy.name %>"
    autocomplete="off"
    >
  </label>
  <label>
    Fun?
    <input
    type="checkbox"
    name="fun"
    <%= toy.fun ? "checked" : "" %>
    >
  </label>
  <button type="submit">Update This Toy</button>
  </form>
</section>

<%- include('../partials/footer') %>