<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>HAMMYS!</h1>
    <% if (user) { %>
    <h2>Give New Toy!</h2>
    <form action="/toys" method="POST">
    <label>
      Name:
      <input type="text" name="name" autocomplete="off">
    </label>
    <label>
      Fun?
      <input type="checkbox" name="fun"
    </label>
    <button type="submit">Add Toy</button>
    </form>
    <% } %>
    <h2>All Toys!</h2>
    <ul>
     <% toys.forEach(toy => { %> 
      <li>
        Hammy Toys
        <a href="/toys/<%= toy._id %>"><%= toy.name %></a>
        is <%= toy.fun ? "SUPER FUN" : "SUPER LAME" %>
        </li>
      <% }) %>
    </ul>
</section>

<%- include('../partials/footer') %>